html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;

  overflow-x: hidden;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  /* height: 300px; */
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
}

.slides > div > h3 {
  color: #33373C;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1px;
}

.slides > div > p {
  color: #677D8F;
  font-size: 16px;
}

.dots {
  margin-top: 7vh;
  text-align: center;
  position: relative;
}

.dots > span {
  position: absolute;
  right: 0;
  top: -3px;
  color: #226BDA;
  font-size: 14px;
}

.dots > li {
  display: inline-block;
  list-style: none;
}

.dots > li > a {
  text-indent: -99999px;
  opacity: 0.3;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #226BDA;
  margin: 0 8px;
}

.dots > li.active > a {
  opacity: 1;
}

.home {
  max-width: 370px;
  width: 100%;
  margin: 0 auto;
  background-color: #f4f4f4;
  height: calc(100vh - 20px);
}

.home__skip {
  text-align: right;
  color: #226BDA;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 100px;
}


.back {
  height: 48px;
  line-height: 46px;
  text-align: center;
  position: relative;
  color: #33373C;
  font-size: 16px;
}

.back span {
  position: absolute;
  top: 7px;
  left: 20px;
  width: 20px;
  color: #226BDA;
}

.login-header {
  width: 100%;
  height: 37vh;
  position: relative;
  border-top: 1px solid #2e80fb;
}

.login-header > .login-header__img,
.login-header > .login-header__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-header > .login-header__text {
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px;
  background-color: rgba(46, 128, 251, 0.5);
  color: #fff;
  height: 100%;
}

.login-header > .login-header__text h4 {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 35px;
}

.login-header > .login-header__text ul {
  padding-left: 20px;
}